{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="team-list" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- section title -->
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>Our <span class="color">Team</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      <!-- /section title -->

      {{ range .Pages }}
      <!-- team member -->
      <div class="col-lg-3 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">
            <!-- member photo -->
            <a href="{{ .Permalink }}">
              {{ partial "image.html" (dict "Src" .Params.image_webp "Fallback" .Params.image "Alt" .Title "Class" "img-fluid lozad") }}
            </a>
            <!-- member social profile -->
            <div class="mask">
              <ul class="list-inline">
                {{ range .Params.social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            </div>
          </div>

          <!-- member name & designation -->
          <div class="member-meta">
            <h4 class="mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <span>{{ .Params.designation | markdownify}}</span>
            <p>
              {{ .Summary | truncate 150 }}
              <br>
              <a class="btn btn-transparent" href="{{ .Permalink }}">
                View Profile →
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- end team member -->
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
