{{ define "main" }}

<--! not needed any more since I fixed navigation bar appearance to everywhere -->
<--! {{ partial "navigation.html" . }} -->


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <h4 class="text-muted">{{ .Params.designation }}</h4>
        <ul class="list-inline mb-50">
          {{ range .Params.social }}
          <li class="list-inline-item">
            <a href="{{ .link | safeURL }}" target="_blank" rel="noopener">
              <i class="{{ .icon }}" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          {{ end }}
        </ul>
        {{ partial "image.html" (dict "Src" .Params.image_webp "Fallback" .Params.image "Alt" .Title "Class" "img-fluid mb-50 lozad") }}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ partial "go-back-button.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}
