{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "our-science.html" . }}


<!--  removed
{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}
-->

{{ partial "team.html" . }}

{{ partial "advisory.html" . }}

{{ partial "collaborators.html" . }}

<!-- removed
{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}
-->

{{ partial "blog.html" . }}

{{ partial "contact.html" . }}

<!-- removed
{{ partial "map.html" . }}
-->
{{ end }}
